# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQLing.

Some of the popular languages that Data Scientists use are:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikitlearn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code |de

### Below are a few examples of evaluating arithmetic expressions in Python

In [37]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [39]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

## **Objectives:**

* **Create a new Jupyter notebook called DataScienceEcosystem.ipynb**
* **List popular languages for Data Science.**
* **Some of the commonly used libraries used by Data Scientists**
* **list Data Science Tools.**
* **Simple arithmetic.**

## Author
Ubah